<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>INICIO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="">
    </head>
    <body class="container mt-5">
        <div class="alert alert-success display-1">SUPERMERCADO</div>
        
        <a href="/empleados" class="btn btn-info mt-5">EMPLEADOS</a>
        <a href="/productos" class ="btn btn-info">PRODUCTOS</a>
        <a href="/areas" class ="btn btn-info">Areas</a>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
            integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
            crossorigin="anonymous">
    </body>
</html>